{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8">
  <title>{% translate 'Answers' %}</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.5.3.2.flatly.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container mt-4">
  <h1>{% translate 'Answers' %}</h1>
{% translate 'Red' as red_label %}
{% translate 'Green' as green_label %}
{% translate 'Grey' as grey_label %}
<p id="chartInfo">
  {% blocktrans trimmed with red=red_label green=green_label grey=grey_label yes=yes_label no=no_label %}
  <span class="bg-danger text-light px-1">{{ red }}</span> means {{ no }} answers and <span class="bg-success text-black px-1">{{ green }}</span> means {{ yes }} answers. <span id="unansweredInfo" style="display:none"><span class="bg-secondary px-1">{{ grey }}</span> shows the share of all respondents who have not yet answered the question.</span> <span id="pieSizeInfo" style="display:none">The size of the circle is proportional to the number of respondents.</span>
  {% endblocktrans %}
</p>
  <table class="table">
    <colgroup>
      <col style="width:5%">
      <col style="width:65%">
      <col style="width:30%">
    </colgroup>
    <tbody>
    {% for row in data %}
      <tr>
        <td>{{ row.question.pk }}</td>
        <td><a href="{% url 'survey:answer_question' row.question.pk %}">{{ row.question.text }}</a></td>
        <td>
          <div class="progress" style="height: 1.25rem;">
            <div class="progress-bar bg-success text-black" role="progressbar" style="width: {% widthratio row.yes total_users 100 %}%" aria-valuenow="{{ row.yes }}" aria-valuemin="0" aria-valuemax="{{ total_users }}">{{ row.yes }}</div>
            <div class="progress-bar bg-danger text-light" role="progressbar" style="width: {% widthratio row.no total_users 100 %}%" aria-valuenow="{{ row.no }}" aria-valuemin="0" aria-valuemax="{{ total_users }}">{{ row.no }}</div>
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
</body>
</html>
