{% extends 'survey/survey_base.html' %}
{% load i18n %}
{% block title %}{% translate 'My answers' %}{% endblock %}
{% block survey_content %}
<h1>{% translate 'My answers heading' %}</h1>
<table class="table">
<thead><tr><th>{% translate 'Question' %}</th><th>{% translate 'Answer' %}</th></tr></thead>
<tbody>
{% for answer in answers %}
<tr><td>{{ answer.question.text }}</td><td>{{ answer.get_answer_display }}</td></tr>
{% empty %}
<tr><td colspan="2">{% translate 'No answers' %}</td></tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
