{% extends 'base.html' %}
{% load i18n %}
{% block title %}{{ request.user.username }}{% endblock %}
{% block content %}
<h1>{{ request.user.username }}</h1>

<h2>{% translate 'My questions' %}</h2>
<table class="table mb-4">
  <thead>
    <tr>
      <th>{% translate 'Question' %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for question in questions %}
    <tr>
      <td>{{ question.text }}</td>
      <td class="text-end">
        {% if question.pk in deletable_questions %}
        <a href="{% url 'survey:question_delete' question.pk %}" class="btn btn-sm btn-danger">{% translate 'Remove question' %}</a>
        {% endif %}
      </td>
    </tr>
  {% empty %}
    <tr><td colspan="2">{% translate 'No questions' %}</td></tr>
  {% endfor %}
  </tbody>
</table>

<h2>{% translate 'My answers' %}</h2>
<table class="table">
<thead>
  <tr>
    <th>{% translate 'Question' %}</th>
    <th>{% translate 'Answer' %}</th>
    <th></th>
  </tr>
</thead>
<tbody>
{% for answer in answers %}
  <tr>
    <td>{{ answer.question.text }}</td>
    <td>{{ answer.get_answer_display }}</td>
    <td class="text-end">
      {% if answer.question.survey.state == 'running' %}
      <a href="{% url 'survey:answer_edit' answer.pk %}" class="btn btn-sm btn-warning">{% translate 'Edit' %}</a>
      <a href="{% url 'survey:answer_delete' answer.pk %}" class="btn btn-sm btn-danger ms-2">{% translate 'Remove answer' %}</a>
      {% endif %}
    </td>
  </tr>
{% empty %}
  <tr><td colspan="3">{% translate 'No answers' %}</td></tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
