{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% translate 'Thank you for answering' %}{% endblock %}
{% block content %}
<div class="alert alert-info">
  {% if has_skipped %}
    {% translate 'Thank you for answering, you have now answered the questions, except those you skipped!' %}
  {% else %}
    {% translate 'Thank you for answering, you have now answered all the questions!' %}
  {% endif %}
</div>
{% now "d.m.Y" as today %}
<p>
  {% blocktranslate trimmed %}Answers are knowledge that produces benefit only when used. Participate in discussions on Wikipedia and Wikimedia and in Wikimedia Finland's decision-making and bring out your interpretation of the common good. Now you can base your opinion and refer to measured information about the community's opinions.{% endblocktranslate %}
</p>
<p>
  {% blocktranslate trimmed with date=today language_code=LANGUAGE_CODE %}You may cite as a source: Wikikysely 2025, question number #1, {{ date }} https://wikikysely.toolforge.org/{{ language_code }}/answers/{% endblocktranslate %}
</p>
<div class="mt-3">
  <a href="{% url 'survey:survey_answers' %}" class="btn btn-info mb-2">{% translate 'View all answers' %}</a>
  {% if has_skipped %}
  <a href="{% url 'survey:answer_survey' %}" class="btn btn-primary mb-2">{% translate 'Return to skipped questions' %}</a>
  {% endif %}
  <a href="{% url 'survey:question_add' %}" class="btn btn-secondary mb-2">{% translate 'Add question' %}</a>
</div>
{% endblock %}
