{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% if is_edit %}{% translate 'Edit question' %}{% else %}{% translate 'Add question' %}{% endif %}{% endblock %}
{% block content %}
<h1>{% if is_edit %}{% translate 'Edit question' %}{% else %}{% translate 'Add question' %}{% endif %}</h1>
  {% if login_message %}
  <div class="alert alert-info">{{ login_message|safe }}</div>
  {% endif %}
  {% if survey.state == 'paused' %}
  <div class="alert alert-info">{% translate 'Survey not active' %}</div>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary me-2"{% if survey.state == 'paused' or not user.is_authenticated %} disabled{% endif %}>{% translate 'Save' %}</button>
    <a href="{% url 'survey:survey_detail' %}" class="btn btn-secondary">{% translate 'Cancel' %}</a>
    {% if is_edit and can_delete_question %}
    <a href="{% url 'survey:question_delete' form.instance.pk %}" class="btn btn-danger ms-2">{% translate 'Remove question' %}</a>
    {% endif %}
  </form>
  {% if not is_edit %}
  <hr>
  <p>{% translate "Add any question related to the survey's topic, but phrase it so it can only be answered 'Yes' or 'No'. You may also add a statement, provided the respondent can similarly answer whether they agree or disagree - yes or no." %}</p>
  <p>{% translate "You can edit or delete the question you added as long as nobody has answered it." %}</p>
  {% blocktrans trimmed asvar question_guidelines %}Questions must relate to Wikipedia, the Wikimedia movement, or the activities of Wikimedia Finland, but they must not target individuals. All questions must adhere to the Wikimedia movement's <a href="https://foundation.wikimedia.org/wiki/Policy:Universal_Code_of_Conduct/fi">Universal Code of Conduct</a>.{% endblocktrans %}
  <p>{{ question_guidelines|safe }}</p>
  {% get_current_language as LANGUAGE_CODE %}
  <p>
    <a href="{% if LANGUAGE_CODE == 'en' %}https://fi.wikipedia.org/wiki/Wikiprojekti:Wikikysely_2025/ohjeet/en{% elif LANGUAGE_CODE == 'sv' %}https://fi.wikipedia.org/wiki/Wikiprojekti:Wikikysely_2025/ohjeet/sv{% else %}https://fi.wikipedia.org/wiki/Wikiprojekti:Wikikysely_2025/ohjeet{% endif %}" target="_blank">{% translate 'Read more instructions' %}</a>
  </p>
  {% endif %}
</div>
{% endblock %}
