{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% translate 'Surveys' %}{% endblock %}
{% block content %}
<h1>{% translate 'Surveys' %}</h1>
<div class="table-responsive">
<table class="table stacked-table">
<thead><tr><th>{% translate 'Title' %}</th><th>{% translate 'State' %}</th></tr></thead>
<tbody>
{% for survey in surveys %}
<tr><td data-label="{% translate 'Title' %}"><a href="{% url 'survey:survey_detail' %}">{{ survey.title }}</a></td><td data-label="{% translate 'State' %}">{{ survey.get_state_display }}</td></tr>
{% empty %}
<tr><td colspan="2" data-label="">{% translate 'No surveys' %}</td></tr>
{% endfor %}
</tbody>
</table>
</div>
{% if request.user.is_authenticated %}
  {% if surveys %}
    <a href="{% url 'survey:survey_edit' %}" class="btn btn-primary mt-3">{% translate 'Edit survey' %}</a>
  {% else %}
    <a href="{% url 'survey:survey_create' %}" class="btn btn-primary mt-3">{% translate 'Create survey' %}</a>
  {% endif %}
{% endif %}
{% endblock %}
