{% extends 'base.html' %}
{% load i18n %}
{% block title %}{{ survey.title }}{% endblock %}
{% block content %}
<h1>{{ survey.title }}</h1>
<p>{{ survey.description }}</p>
<p>{% translate 'State' %}: {{ survey.get_state_display }}</p>
<p>{% translate 'Start date' %}: {{ survey.start_date }} | {% translate 'End date' %}: {{ survey.end_date }}</p>
{% if can_edit %}
  <a href="{% url 'survey:survey_edit' survey.pk %}" class="btn btn-warning">{% translate 'Edit survey' %}</a>
  <a href="{% url 'survey:question_add' survey_pk=survey.pk %}" class="btn btn-secondary">{% translate 'Add question' %}</a>
{% endif %}
<a href="{% url 'survey:answer_survey' survey.pk %}" class="btn btn-primary">{% translate 'Answer survey' %}</a>
<a href="{% url 'survey:survey_results' survey.pk %}" class="btn btn-info">{% translate 'Results' %}</a>
{% if user_answers %}
<h2 class="mt-4">{% translate 'My answers' %}</h2>
<table class="table">
  <thead><tr><th>{% translate 'Question' %}</th><th>{% translate 'Answer' %}</th><th></th></tr></thead>
  <tbody>
    {% for a in user_answers %}
    <tr>
      <td>{{ a.question.text }}</td>
      <td>{{ a.get_answer_display }}</td>
      <td>
        <a href="{% url 'survey:answer_edit' a.pk %}" class="btn btn-sm btn-warning">{% translate 'Edit' %}</a>
        <a href="{% url 'survey:answer_delete' a.pk %}" class="btn btn-sm btn-danger">{% translate 'Remove' %}</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
