{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<ul class="nav nav-tabs mb-4">
  <li class="nav-item">
    <a class="nav-link {% if active_tab == 'detail' %}active{% endif %}" href="{% url 'survey:survey_detail' %}">{% translate 'Survey info' %}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if active_tab == 'answers' %}active{% endif %}" href="{% url 'survey:answer_list' %}">{% translate 'My answers' %}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if active_tab == 'results' %}active{% endif %}" href="{% url 'survey:survey_results' %}">{% translate 'Results' %}</a>
  </li>
</ul>
{% block survey_content %}{% endblock %}
{% endblock %}
