{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}WikiKysely{% endblock %}</title>
    <!-- Bootswatch theme for nicer default styling -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.5.3.2.flatly.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'survey:survey_detail' %}">WikiKysely</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false" aria-label="{% translate 'Toggle navigation' %}">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-main">
      {% url 'survey:survey_detail' as survey_detail_url %}
      {% url 'survey:answer_survey' as answer_survey_url %}
      {% url 'survey:survey_answers' as survey_answers_url %}
      {% url 'survey:userinfo' as userinfo_url %}
      {% url 'survey:survey_edit' as survey_edit_url %}
      {% url 'survey:question_add' as question_add_url %}
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link{% if request.path == survey_detail_url %} active{% endif %}" href="{{ survey_detail_url }}">{% translate 'Questions' %}</a></li>
        {% if unanswered_count is not None %}
        {% if unanswered_count > 0 %}
        <li class="nav-item"><a id="answer-nav-link" class="nav-link{% if request.path == answer_survey_url %} active{% endif %}" href="{{ answer_survey_url }}">{% translate 'Answer survey' %} (<span id="unanswered-count">{{ unanswered_count }}</span>)</a></li>
        {% else %}
        {% if request.user.is_authenticated %}
        <li class="nav-item"><span id="answer-nav-link" class="nav-link text-secondary" data-answer-url="{{ answer_survey_url }}">{% translate 'Answer survey' %}(<span id="unanswered-count">0</span>)</span></li>
        {% else %}
        <li class="nav-item"><span id="answer-nav-link" class="nav-link text-secondary">{% translate 'Answer survey' %}(<span id="unanswered-count">0</span>)</span></li>
        {% endif %}
        {% endif %}
        {% elif latest_question %}
        <li class="nav-item"><a id="answer-nav-link" class="nav-link" href="{% url 'survey:answer_question' latest_question.id %}">{% translate 'Answer survey' %}</a></li>
        {% else %}
        <li class="nav-item"><span id="answer-nav-link" class="nav-link text-secondary">{% translate 'Answer survey' %}</span></li>
        {% endif %}
        <li class="nav-item"><a class="nav-link{% if request.path == survey_answers_url %} active{% endif %}" href="{{ survey_answers_url }}">{% translate 'Answers' %}</a></li>
        {% if request.user.is_authenticated %}
        <li class="nav-item"><a class="nav-link{% if request.path == question_add_url %} active{% endif %}" href="{{ question_add_url }}">{% translate 'Add question' %}</a></li>
        {% endif %}
        {% if can_edit %}
        <li class="nav-item"><a class="nav-link{% if request.path == survey_edit_url %} active{% endif %}" href="{{ survey_edit_url }}">{% translate 'Edit survey' %}</a></li>
        {% endif %}
      </ul>
      <ul id="userbar" class="navbar-nav ms-auto">
      <li class="nav-item">
      <form action="{% url 'set_language' %}" method="post" class="d-flex">
        {% csrf_token %}
        <select id="language-select" name="language" class="form-select">
          {% get_current_language as LANGUAGE_CODE %}
          {% get_available_languages as LANGUAGES %}
          {% for lang in LANGUAGES %}
            <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %}selected{% endif %}>{{ lang.1 }}</option>
          {% endfor %}
        </select>
        <input id="language-next" type="hidden" name="next" value="{{ request.path }}" />
      </form>
      </li>
        {% if request.user.is_authenticated %}
          <li class="nav-item"><a class="nav-link ms-3{% if request.path == userinfo_url %} active{% endif %}" href="{{ userinfo_url }}">{{ request.user.username }}</a></li>
        <li class="nav-item"><a class="nav-link ms-3" href="{% url 'survey_logout' %}?next={{ request.path }}">{% translate 'Logout' %}</a></li>
      {% else %}
        {% if local_login_enabled %}
        <li class="nav-item"><a class="nav-link ms-3" href="{% url 'login' %}?next={% url 'login_redirect' %}">{% translate 'Login' %}</a></li>
        <li class="nav-item"><a class="nav-link ms-3" href="{% url 'survey:register' %}?next={% url 'login_redirect' %}">{% translate 'Register' %}</a></li>
        {% endif %}
        <li class="nav-item"><a class="nav-link ms-3" href="{% url 'social:begin' 'mediawiki' %}?next={% url 'login_redirect' %}">{% translate 'Login with Wikimedia' %}</a></li>
      {% endif %}
      </ul>

    </div>
  </div>
</nav>
<div class="container mt-4">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    <div id="ajax-messages"></div>
  {% block content %}{% endblock %}
</div>
<hr>
<footer class="footer text-center py-2">
  <small>
    <a href="https://fi.wikipedia.org/wiki/Wikiprojekti:Wikikysely_2025" target="_blank">{% translate 'Project page' %}</a> |
    <a href="https://github.com/Wikimedia-Suomi/wikikysely" target="_blank">{% translate 'Source code' %}</a> |
    <a href="https://github.com/Wikimedia-Suomi/wikikysely/blob/main/privacy-policy.md" target="_blank">{% translate 'Privacy policy' %}</a>
  </small>
</footer>
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/Chart.js/4.4.1/chart.umd.min.js"></script>
<script src="{% static 'js/langswitch.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>
